<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/admin/head :: head"></head>

<body>
<div id="wrapper">
    <nav th:replace="fragment/admin/nav :: navtop"></nav>
    <!--/. NAV TOP  -->
    <nav th:replace="fragment/admin/nav :: navside"></nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner" >
            <div  th:each="company : ${companies}" style="margin-bottom: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Dashboard: <span th:text="${company.companyName}"></span>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <i class="fa fa-envelope fa-5x"></i>
                                <h3 th:text="${company.sendMail.size()}"></h3>
                            </div>
                            <div class="panel-footer back-footer-green">
                                Number of Mails received
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <a th:href="@{'/admin/edit?id='+${company.id}}">
                            <div class="panel panel-primary text-center no-boder bg-color-blue">
                                <div class="panel-body">
                                    <i class="fa fa-pencil fa-5x"></i>
                                </div>
                                <div class="panel-footer back-footer-blue">
                                    Edit details
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--                <div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--                    <div class="panel panel-primary text-center no-boder bg-color-red">-->
                    <!--                        <div class="panel-body">-->
                    <!--                            <i class="fa fa fa-comments fa-5x"></i>-->
                    <!--                            <h3>15,823 </h3>-->
                    <!--                        </div>-->
                    <!--                        <div class="panel-footer back-footer-red">-->
                    <!--                            Comments-->

                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--                <div class="col-md-3 col-sm-12 col-xs-12">-->
                    <!--                    <div class="panel panel-primary text-center no-boder bg-color-brown">-->
                    <!--                        <div class="panel-body">-->
                    <!--                            <i class="fa fa-users fa-5x"></i>-->
                    <!--                            <h3>36,752 </h3>-->
                    <!--                        </div>-->
                    <!--                        <div class="panel-footer back-footer-brown">-->
                    <!--                            No. of Visits-->

                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>

                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Mail list
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item" th:each="mail : ${company.sendMail}">
                                        <span class="badge" th:text="${mail.created_at}"></span>
                                        <i class="fa fa-fw fa-comment"></i> <span th:text="${mail.text}"></span>
                                    </a>
                                    <a th:if="${company.sendMail.size() == 0}" href="#" class="list-group-item">
                                        <i class="fa fa-fw fa-comment"></i> <span> Your mailbox is empty... Pray for clients</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <footer th:replace="fragment/admin/footer :: footer"></footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<div th:replace="fragment/admin/js :: js"></div>

</body>

</html>