<!-- Footer -->
<footer id="footer" th:fragment="footer">
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="footer-bottom-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 copyright">
            <p>&copy; 2021. DESIGNED BY <a href="#"> CASTLE TECHNOLOGIES</a> a subsidiary of <a href="#"> TOLULOPE INC.</a></p>
          </div>
          <div class="col-md-6 social-links">
            <ul class="right">
              <li><a href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#."><i class="fab fa-twitter"></i></a></li>
              <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
              <li><a href="#."><i class="fab fa-behance"></i></a></li>
              <li><a href="#."><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#."><i class="fab fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->