<!-- header -->
<header class="sticky" th:fragment="header">
  <div class="container">

    <!-- Logo -->
    <div class="logo"> <a href="index-2.html"><img class="img-responsive" src="assets/images/logo-dark.png" alt="" ></a> </div>
    <nav class="navbar ownmenu navbar-expand-lg" id="nav-resposive">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav" data-parent="#nav-resposive">
        <ul class="nav">
          <li class="active"> <a href="index-2.html">Home</a> </li>
          <li> <a href="companies.html">Companies</a> </li>
          <li> <a href="pricing.html">Pricing </a> </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</header>