<head th:fragment="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="M_Adnan">
  <title>My MarketPlace</title>




  <!-- Bootstrap Core CSS -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom CSS -->
  <link th:href="@{/assets/css/main.css}" rel="stylesheet">
  <link th:href="@{/assets/fonts/flaticon.css}" rel="stylesheet">
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  <link th:href="@{/assets/css/responsive.css}" rel="stylesheet">

  <!-- fontawesome  -->
  <link th:href="@{/assets/css/all.min.css}" rel="stylesheet">

  <!-- JavaScripts -->
  <script th:src="@{/assets/js/modernizr.js}"></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Online Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">


  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>