<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/head :: head"></head>
<body>

<!-- Wrap -->
<div id="wrap">

  <header th:replace="fragment/header :: header"></header>

  <!-- Content -->
  <div id="content">

    <!-- Banner -->
    <section class="bnr">
      <div class="position-center-center mob-normal">
        <div class="container">
          <div class="col-lg-8 center-auto text-center">
            <h1>Live, Shop, Taste, Experience</h1>
            <a href="/login" class="btn">Login / Register</a>
          </div>
        </div>



        <!-- filter -->
        <div class="cd-tab-filter-wrapper filter-wrapper container">
          <div class="cd-tab-filter">
            <!-- Search -->
            <div class="filter-search">
              <a class="fltr-srch collapsed" data-toggle="collapse" href="#filter-detail"
                 role="button" aria-controls="collapseExample"  style="color: whitesmoke;"> Search MarketPlace </a>

              <!-- Filter Details -->
              <div class="inside-from">
                <div class="collapse" id="filter-detail">
                  <div class="card">
                    <form th:action="@{/search_company}" th:object="${searchCompany}" method="post">
                      <ul>
                        <!--  City-->
                        <li>
                          <label>
                            <input type="text" name="city" th:value="${city}" class="form-control" placeholder="City" required>
                          </label>
                        </li>
                        <!-- Select -->
                        <li>
                          <label>
                            <select name="industryType" class="form-control" required>
                              <option value="" selected disabled>Select a service...</option>
                              <option th:each="industry : ${industries}" th:value="${industry.industryType}"><span th:text="${industry.industryType}"></span></option>
                            </select>
                          </label>
                        </li>
                        <!--Company Name-->
                        <li>
                          <label>
                            <input type="search" name="companyName" th:value="${companyName}" class="form-control" placeholder="Company Name (optional)">
                          </label>
                        </li>
                        <li>
                          <button type="submit" class="btn">Search</button>
                        </li>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Intro Sec -->
    <section>
      <div class="container">

        <div  class="intro-sec">

          <div class="row margin-0">
            <div class="col-lg-4 padding-0">
              <div class="intro-txt-bnr">
                <h4>Find vendors and services close to you</h4>
                <p>Now you can easily search for vendor and services close to you, get there contacts and address.</p>
              </div>
            </div>
            <div class="col-lg-4 padding-0">
              <div class="intro-txt-bnr primary-bg text-dark">
                <h4>Get the latest news in your Industry </h4>
                <p>Get some of the industries latest news, activities and uodates. Service information and so on.</p>
              </div>
            </div>
            <div class="col-lg-4 padding-0">
              <div class="intro-txt-bnr">
                <h4>Post your business </h4>
                <p>You can post your services and business for other people to see and patronise. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Papular Companies -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container">

        <!-- Heading Block -->
        <div class="heading-block text-center">
          <h2>Papular Companies</h2>
          <p>These are a some of our most called services and vendors. </p>
        </div>

        <!-- Companies -->
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <!-- Company -->
              <div class="col-sm-4" th:each="company : ${companies}">
                <div class="com-inside">
                  <div class="img-sec">
                      <img th:src="@{'images/'+${company.images}}" style="height: 380px; width: 350px" class="img-responsive" alt="" >
                    <div class="hover-over">
                      <div class="position-center-center"><a th:href="@{'/company_detail?id='+${company.id}}" class="btn">Details</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a th:href="@{'/company_detail?id='+${company.id}}"> <span th:text="${company.companyName}"></span> </a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Btn Center -->
        <div class="btn-center margin-top-30 text-center"> <a href="/company_all" class="btn btn-inverse">View All Companies</a> </div>
      </div>
    </section>

    <!-- WHAT OUR USERS SAY -->
    <section class="bg-white padding-top-100 padding-bottom-100">
      <div class="container">

        <!-- Heading Block -->
        <div class="heading-block text-center">
          <h2>Testimonials</h2>
          <p>Here are a few testimonies from some of our clients </p>
        </div>

        <!-- Testimonial Style 4 -->
        <div class="testimonial style-4">
          <div class="testi">
            <!-- Testi Slides With Image -->
            <div class="testi-slide">

              <!-- Slides -->
              <div>
                <div class="text-in">
                  <p>“In a world where we need to build trusts and relationships i present you this very beautiful platform” </p>
                  <h6>WHITE WALKER</h6>
                  <span>WHITE WALKER(GOT)</span>
                </div>
              </div>

              <!-- Slides -->
              <div>
                <div class="text-in">
                  <p>“A nice place. I met a lot of beautiful people.”</p>
                  <h6>IRON MAN</h6>
                  <span>STARK TECHNOLOGIES</span>
                </div>
              </div>

              <!-- Slides 1 -->
              <div>
                <div class="text-in">
                  <p>“Always believe, If you believe you can achieve”</p>
                  <h6>GADIBIA DARO</h6>
                  <span>STACK LEAD</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!-- Footer -->
  <footer id="footer" th:replace="fragment/footer :: footer"></footer>
  <!-- End Footer -->
</div>
<div th:replace="fragment/js :: js"></div>
</body>
</html>