
<nav class="navbar navbar-default top-navbar" role="navigation" th:fragment="navtop">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin">MarketPlace</a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li><span style="color: white" th:text="${session.name}"></span></li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
</nav>
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation" th:fragment="navside">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

      <li>
        <a class="active-menu" href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-sitemap"></i> Company<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/create">Create Company</a>
          </li>
        </ul>
      </li>
      <li style="margin-top: 50px">
        <a href="/"><i class="fa fa-dashboard"></i> Go to home</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /. NAV SIDE  -->